/* RESETS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

nav ul{
    list-style-type: none;
}


/* GENERAL STYLING */

h2{
    font-size: 1.6rem;
    padding: 10px 0;
    color: darkorange;
}

h3{
    font-size: 1.6rem;
}

ul li{
    display: inline-block;
    margin: 15px 10px;
}

ul li:last-of-type{
    margin-right: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.button{
    display: inline-block;
    padding: 10px 5px;
    border: 1px solid darkorange;
    border-radius: 8px;

    color: white;
    background-color: orange;
    text-shadow: 1px 1px 8px black;
}

.button:hover{
    background-color: darkorange;
}

.input-group input[type=email]{
    padding: 8px 5px;
    border-radius: 8px 0px 0px 8px;
    margin-right: -8px;
}


/* HEADER */

header{
    background-color: black;
    color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: white;
}

/* Jumbotron */

.jumbotron{
    background: url(light_bulb.jpg);
    background-position: top right;
    background-size: cover;
    background-color: #dd845a;
    color: white;
    text-shadow: 1px 1px 8px black;
}

.jumbotron .container{
    padding: 6rem 0 5rem;
}

.jumbotron h1{
    font-size: 3rem;
    padding: 15px 0;
}

.jumbotron p{
    font-size: 1.3rem;
    padding: 15px 0;
}

/* INTRO */

.intro .container{
    padding: 5rem 0;
}

.intro p{
    font-size: 1.2rem;
    color: #959595;
}


/* FEATURES*/

.features{
    display: flex;
    background-color: grey;
}

.feature-1{
    background : url(mung_beans.jpg);
}

.feature-2{
    background : url(coffee_beans_1.jpg);
}

.feature-3{
    background : url(grapes.jpg);
}

.feature{
    display: flex;
    flex: 1;
    text-align: center;
    height: 300px;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: 50% 50%;
}

.feature a{
    color: white;
    text-shadow: 1px 1px 8px black;
}



/* CONTACT*/
.contact .container{
    padding: 50px 0;
    text-align: center;
}

.contact img{
    border-radius: 50%;
    margin-bottom: 40px;
}

.contact address{
    margin: 15px 0;
}

/* FOOTER */

footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer section{
    padding: 20px 0 15px 0;
}

.newsletter h4{
    font-size: 1.6rem;
}

.newsletter p{
    margin: 0 0 10px 0;
}