h1,h2,h3,h4,h5,h6,p,img,div,ul,li{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.board{
    flex:3;
    display: flex;
}

.time-bar{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress{
    width: 500px;
}