.scoreboard, .playfield, .stats{
    flex:1;
    display: flex;
    align-items: center;
}

.scoreboard{
    flex-direction: column;
    justify-content: center;
}

.playfield{
    position: relative;
    flex: 2;
    justify-content: center;
}

.playfield figure{
    position: relative;
}

.playfield figure > img{
    display: none;
}

.playfield figure > img:first-of-type{
    display: block;
}

.playfield figure .layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    background-color: rgba(0,0,0, .5);
    border-radius: 50%;

    display: none;
    align-items: center;
    justify-content: center;

    color: white;
}

.playfield figure .layer.show{
    display: flex;
}

.playfield .inputs{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#a,#b,#c,#d{
    display: inline-block;
    float: left;
    height: 50%;
    width: 50%;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
