.Error{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    background-color: red;
    color: white;

    z-index: 100;
}

.Error.show{
    display: flex;
}

.message{
    display: inline-block;

    width: 500px;
    height: 50px;

    background-color: darkgray;
    border: 1px solid #555;
    border-radius: 15px;

    -webkit-box-shadow: -2px 6px 15px 3px rgba(158,9,22,1);
    -moz-box-shadow: -2px 6px 15px 3px rgba(158,9,22,1);
    box-shadow: -2px 6px 15px 3px rgba(158,9,22,1);
}

.message h2{
    margin: 0;
    padding: 0;
    line-height: 50px;
    text-align: center;
}